.table{
border-radius: 20%;
}

th {
    text-align: center;
}

.cart__img-box {
    width: 80px;
}

.cart__img-box img {
    width: 100%;
}

.cart__item-del i {
    cursor: pointer;
}

.cart__page-btn button {
    background-color: #e18103c3;
    border: none;
    padding: 10px 15px;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.70rem;
    border-radius: 7px;
}

.cart__page-btn button a:hover {
    color: #fff;
}


.cart__page-btn button a {
    color: #fff;
    text-decoration: none;
}

.cart__subtotal {
    color: #e18103c3;
    font-size: 1.5rem;
}

/* Container for quantity controls */
.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Center items horizontally */
}

/* No background or borders on the plus and minus signs */
.quantity-btn {
    font-size: 20px;
    /* Size of the + and - symbols */
    user-select: none;
    cursor: pointer;
   padding:0px 2px ;
}

/* Center the quantity number */
.quantity {
    font-size: 16px;
    /* Size of the quantity number */
    padding: 10px 10px;
    /* Add spacing around the number */
}


@media only screen and (max-width: 768px) {

    th,
    td {
        font-size: 0.8rem;
    }
}