.header {
    background-color: #fff;
    padding: 10px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu a {
    text-decoration: none;
    color: #96611de0;
    font-weight: 500;
}

.active__menu {
    color: #e18103c3;
}

.nav__right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.cart__icon {
    position: relative;
    cursor: pointer;
}

.cart__badge {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: #e18103c3;
    color: white;
    font-size: 12px;
    border-radius: 50%;
    padding: 2px 5px;
}

.user a,
.mobile__menu {
    color: #333;
    font-size: 24px;
    cursor: pointer;
}

.mobile__menu {
    display: none;
}

/* Mobile Links */
.mobile__nav {
    display: none;
}

.mobile__link {
    display: block;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.mobile__link:hover {
    background-color: #f7f7f7;
}

/* Hide the desktop menu on small screens */
@media (max-width: 992px) {
    .menu {
        display: none;
    }

    .mobile__menu {
        display: block;
    }

    .mobile__nav {
        display: flex;
        flex-direction: column;
        background-color: white;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        position: absolute;
        top: 60px;
        width: 100%;
        z-index: 999;
    }
}