/* General Styles for Profile Page */
.profile-section {
    padding: 20px 0;
    height: 100%;
    
}

.profile-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.sidebar-{
    height: 550px;
}


.profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.profile-image {
    border-radius: 50%;
    border: 4px solid #ffc107;
    padding: 5px;
    width: 100px;
}

.profile-details h4 {
    margin: 10px 0;
}

.section-list {

    margin: 20px;
}

.card{
    /* margin-top: 5%; */
    margin-bottom: 10%;
}

.section-button {
    width: 100%;
    padding: 10px 15px;
    text-align: left;
    background-color: #eaeef3e4;
    box-shadow: 8px  rgba(0, 0, 0, 0.1);
    border: none;
    font-size: 1rem;
    /* color: #555; */
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin-bottom: 15px;
    /* justify-content: center; */
    /* align-items: center; */
}

.section-button:hover {
    background-color: #dce6f0;
}

.section-button.active {
    background-color: #93b7bd;
    color: white;
    font-weight: bold;
}

/* Profile Details */
.profile-info-card {
    /* margin-top: 20px; */
}

.profile-info-list {
    list-style: none;
    padding: 0;
}

.profile-info-list li {
    padding: 8px 0;
}

/* Order Section */
.order-list {
    /* margin-top: 20px; */
}

.order-items {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-header {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.order-items {
    list-style: none;
    padding: 0;
}

.order-item-detail {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 20px;
}

.item-image {
    width: 60px;
    height: 60px;
    margin-right: 15px;
    object-fit: cover;
}

.item-details p {
    margin: 0;
}

/* Address Book */
.address-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.modify-address-btn {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modify-address-btn:hover {
    background-color: #218838;
}

.no-orders {
    color: #888;
    text-align: center;
}